/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap');

:root{
    --Poppins: 'Poppins';
    --Montserrat: 'Montserrat';
    --Agua-Marina: rgb(82, 199, 160);
    --Rojo-Salmon: rgb(238, 81, 81);
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: var(--Poppins);
    overflow: hidden;
    background-color: black;
    color: white;
    overflow: scroll;
}

.video-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 50%;
    object-fit: cover;
    z-index: -2;
}

.cabeza{
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: min-content;
    padding: 1.8rem 6%;
    font-weight: 600;
}

.cabeza__logo{
    width: 55%;
}

.cabeza__input{
    display: none;
}

.cabeza__navbar{
    float: right;
    text-transform: uppercase;
}

.navbar__lista{
    position: sticky;
    display: flex;
    padding-inline-start: 0;
    list-style: none;
}

.opcion__enlace{
    display: block;
    text-decoration: none;
    color: white;
    transition: .4s;
}

.redes__sociales{
    display: flex;
    gap: 3rem;
    font-size: 3rem;
}

.mas__informacion{
    display: none;
}

.opcion__enlace:hover{
    color: var(--Rojo-Salmon);
}

.main__content{
    padding: 5rem 6%;
}

.seccion__saludo{
    display: flex;
    flex-direction: column;
}

.saludo__titulo{
    margin-bottom: 2.5rem;
    font-family: var(--Montserrat);
    font-weight: 700;
}

.nombre{
    color: var(--Agua-Marina);
}

.saludo__parrafo{
    margin-bottom: 3rem;
    font-family: var(--Poppins);
    font-weight: 200;
    word-spacing: .2rem;
}

.saludo__btn{
    display: block;
    width: max-content;
    padding: 1rem 2.6rem;
    border: none;
    border-radius: .5rem;
    font-family: var(--Montserrat);
    font-weight: 800;
    font-size: 1rem;
    color: white;
    background-color: var(--Rojo-Salmon);
}

@media (min-width: 769px){

    .cabeza{
        justify-content: space-between;
        padding: 2.5rem 6%;
    }

    .cabeza__logo{
        max-width: 250px;
    }

    .cabeza__barra{
        display: none;
    }

    .cabeza__navbar{
        width: 55%;
        max-width: 510px;
        float: none;
    }

    .navbar__lista{
        justify-content: space-between;
    }

    .opcion__enlace{
        font-size: 75%;
        text-wrap: nowrap;
    }

    .redes__sociales{
        position: absolute;
        top: 4.3rem;
        right: 2%;
    }
}

@media (min-width: 1024px){

    .cabeza{
        padding: 2rem 6%;
    }

    .cabeza__logo{
        max-width: 300px;
    }

    .opcion__enlace{
        font-size: 100%;
        text-wrap: nowrap;
    }
}

@media (min-width: 1200px){

    .cabeza__navbar, .navbar__lista, .lista__opcion{
        all: initial;
    }

    .navbar__lista, .redes__sociales{
        display: flex;
        gap: 3rem;
    }

    .navbar__lista{
        align-items: center;
    }

    .lista__opcion{
        font-family: var(--Poppins);
        font-weight: 700;
        text-transform: uppercase;
    }

    .redes__sociales{
        font-size: 2.5rem;
    }
}

@media (max-width: 768px){

    .cabeza__logo{
        max-width: 250px;
    }

    .navbar__lista{
        padding-inline-start: 15%;
        flex-direction: column;
        row-gap: 4rem;
    }

    .cabeza__barra{
        padding: 8px;
        font-size: 1.6rem;
        color: white;
        cursor: pointer;
        transition: .2s;
    }

    .cabeza__barra:active{
        transform: rotate(-45deg) scaleY(10%);
    }

    .cabeza__navbar{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100vh;
        clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0);
        transition: clip-path .3s linear;
        z-index: -1;
    }

    .cabeza__input:checked + .cabeza__navbar{
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
        background-color: black;
    }

    /* Seccion principal */

    .seccion__saludo{
        align-items: center;
        text-align: center;
    }

    .saludo__titulo{
        font-size: 2.6rem;
    }

    .saludo__parrafo{
        padding-inline: 6%;
        font-size: 1.2rem;
    }
}